
/* Crudkit custom CSS */
.navbar-inner /*title bar*/
{
	background: #357ca5;
}

.navbar .brand, /*title*/
.navbar li a.dropdown-toggle /*links*/ 
{
	color: #eee;
	text-shadow: none;
	font-weight: bold;
}

div.content h1::after {
    content: "  [User API Doc]";
    color: #357ca5;
	font-size: 2rem;
}